@use "../../styles/index";
@use "../../styles/button";
@use "../../styles/mixins";

.root {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: currentColor;
  background-color: unset;
  text-align: center;
  line-height: 1;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
  }

  $transition-props: color, background-color, border-color, box-shadow;
  @include mixins.transition($transition-props);

  &[data-shu-raised="true"]:not(:disabled) {
    box-shadow: var(--shu-btn-box-shadow);

    @media (any-hover: hover) {
      &:hover {
        box-shadow: none;
      }
    }
  }

  &[data-shu-variant="solid"] {
    --shu-theme-loader-color: var(--shu-btn-text-color);
    border-color: var(--shu-btn-color);
    background-color: var(--shu-btn-color);
    color: var(--shu-btn-text-color);

    &:disabled {
      border-color: var(--shu-btn-color-disabled);
      background-color: var(--shu-btn-color-disabled);
      color: var(--shu-btn-text-color-disabled);
    }

    @media (any-hover: hover) {
      &:hover:not(:disabled) {
        border-color: var(--shu-btn-color-hover);
        background-color: var(--shu-btn-color-hover);
      }
    }
  }

  &[data-shu-variant="outlined"] {
    --shu-theme-loader-color: var(--shu-btn-color);
    border-color: var(--shu-btn-color);
    background-color: var(--shu-btn-color-default);
    color: var(--shu-btn-color);

    &:disabled {
      border-color: var(--shu-btn-color-disabled);
      background-color: var(--shu-btn-color-default-disabled);
      color: var(--shu-btn-color-disabled);
    }

    @media (any-hover: hover) {
      &:hover:not(:disabled) {
        border-color: var(--shu-btn-color-hover);
        color: var(--shu-btn-color-hover);
      }
    }
  }

  &[data-shu-variant="filled"] {
    --shu-theme-loader-color: var(--shu-btn-color);
    border-color: var(--shu-btn-color-light);
    background-color: var(--shu-btn-color-light);
    color: var(--shu-btn-color);

    &:disabled {
      border-color: var(--shu-btn-color-disabled);
      background-color: var(--shu-btn-color-disabled);
      color: var(--shu-btn-text-color-disabled);
    }

    @media (any-hover: hover) {
      &:hover:not(:disabled) {
        border-color: var(--shu-btn-color-light-hover);
        background-color: var(--shu-btn-color-light-hover);
      }
    }
  }

  &[data-shu-variant="text"] {
    --shu-theme-loader-color: var(--shu-btn-color);
    border-color: transparent;
    background-color: transparent;
    color: var(--shu-btn-color);

    &:disabled {
      color: var(--shu-btn-color-disabled);
    }

    @media (any-hover: hover) {
      &:hover:not(:disabled) {
        border-color: var(--shu-btn-color-light);
        background-color: var(--shu-btn-color-light);
      }
    }
  }

  &[data-shu-variant="link"] {
    --shu-theme-loader-color: var(--shu-btn-color);
    border-color: transparent;
    background-color: transparent;
    color: var(--shu-btn-color);

    &:disabled {
      color: var(--shu-btn-color-disabled);
    }

    @media (any-hover: hover) {
      &:hover:not(:disabled) {
        color: var(--shu-btn-color-hover);
      }
    }
  }

  // 24
  &[data-shu-size="small"] {
    padding: var(--shu-btn-padding-y-sm) var(--shu-btn-padding-x-sm);
    font-size: var(--shu-btn-fs-sm);

    &[data-shu-shape="default"] {
      border-radius: var(--shu-btn-br-sm);
    }

    &[data-shu-shape="round"] {
      border-radius: var(--shu-btn-br-sm-round);
    }

    &[data-shu-shape="circle"] {
      border-radius: 50%;
      padding: var(--shu-btn-padding-y-sm);
    }
  }

  // 32
  &[data-shu-size="medium"] {
    padding: var(--shu-btn-padding-y-md) var(--shu-btn-padding-x-md);
    font-size: var(--shu-btn-fs-md);

    &[data-shu-shape="default"] {
      border-radius: var(--shu-btn-br-md);
    }

    &[data-shu-shape="round"] {
      border-radius: var(--shu-btn-br-md-round);
    }

    &[data-shu-shape="circle"] {
      border-radius: 50%;
      padding: var(--shu-btn-padding-y-md);
    }
  }

  // 40
  &[data-shu-size="large"] {
    padding: var(--shu-btn-padding-y-lg) var(--shu-btn-padding-x-lg);
    font-size: var(--shu-btn-fs-lg);

    &[data-shu-shape="default"] {
      border-radius: var(--shu-btn-br-lg);
    }

    &[data-shu-shape="round"] {
      border-radius: var(--shu-btn-br-lg-round);
    }

    &[data-shu-shape="circle"] {
      border-radius: 50%;
      padding: var(--shu-btn-padding-y-lg);
    }
  }

  // block
  &[data-shu-block="true"] {
    display: flex;
    width: 100%;
  }

  // loading
  &[data-shu-loading="true"] {
    .content {
      pointer-events: none;
      visibility: hidden;
    }
  }
}

.content {
  display: contents;
}

.loader {
  position: absolute;
  inset: 0;
}
