:root {
  // colors (required)
  --shu-theme-primary-color-h: 92;
  --shu-theme-primary-color-s: 45%;
  --shu-theme-primary-color-l: 32%;

  --shu-theme-disabled-color-h: 210;
  --shu-theme-disabled-color-s: 16%;
  --shu-theme-disabled-color-l: 87%;
}
